.header-icon-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    z-index: -1;
    @media (max-width: 768px) {
        height: 20rem;
        width: 20rem;
      }
    @media (max-width: 480px) {
        height: 15rem;
        width: 15rem;
      }
}

span.header-icon {
    position: absolute;
    width: 100%;
    height: 100%;    border-radius: 50%;
    background-image: url(../images/cover/profile1.png);
    background-position: center;
    background-position-y: -4rem;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.1;
    @media (max-width: 768px) {
        background-position-y: -4rem;
      }
    @media (max-width: 480px) {
        background-position-y: -3rem;
      }
}