.portfolio4-page-body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background-color: $base;
}

.portfolio4-page-body.open-nav {
  overflow: hidden;
}

.portfolio4-page-body:before {
  opacity: .2;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  width: 50rem;
  height: 50rem;
  background-image: url(../images/cover/profile1.png);
  background-position: center;
  background-size: 20rem 20rem;
  background-repeat: no-repeat;
  content: "";
}

.portfolio4-page-body #slider {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* ----ヘッダー---- */

.portfolio4-page-body {
  .title-animate {
    z-index: 150;
  }
  .header {
    color: $black;
  }

  .header-tops-box {
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: transparent;
    transition: .5s all;
  }
  .header-tops {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    width: 100%;
    max-width: 90%;
    height: 12vh;
    margin: 0 auto;
    @media (max-width: 768px) {
      max-width: 90%;
      height: 10vh;
    }
    @media (max-width: 480px) {
      max-width: 95%;
    }
  }

  .header img {
    width: 100%;
  }

  .header-logo {
    display: block;
    position: unset;
    width: 5rem;
    img {
      width: auto;
      height: 3rem;
      @media (max-width: 769px) {
        height: 3.5rem;
      }
      @media (max-width: 480px) {
        height: 2.5rem;
      }
    }
  }

  // pcナビゲーション
  .pc-nav {
    display: block;
  }

  .pc-list {
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 18px 0;
    font-size: 1.5rem;

    li {
      position: relative;
      margin: 0 0 0 1rem;

      a {
        padding: 0 .5rem;
        color: $black;
        transition: .2s cubic-bezier(.45, 0, .55, 1);
      }
    }
  }

  .list-color {
    opacity: .5;
    position: absolute;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
    width: 0;
    height: .7rem;
    transition: all .2s;

    transform-origin: left center;
  }

  .list-bg-color1 {
    background-color: $hello;
  }
  .list-bg-color2 {
    background-color: $profile;
  }
  .list-bg-color3 {
    background-color: $vision;
  }
  .list-bg-color4 {
    background-color: $skills;
  }
  .list-bg-color5 {
    background-color: $works;
  }
  .list-bg-color6 {
    background-color: $contact;
  }
  .pc-list a:hover + .list-color {
    width: 100%;
  }

  li.links-menu-anim {
    width: 3rem;
    height: 3rem;
  }

  .icon-github .sns-links {
    padding: 0;
    font-size: 2.5rem;
  }
  .icon-mail .sns-links {
    padding: 0;
    font-size: 2rem;
  }

  .icon-github .sns-links:hover {
    @media (min-width: 769px) {
      font-size: 3rem;
    }
  }
  .icon-mail .sns-links:hover {
    @media (min-width: 769px) {
      font-size: 2.5rem;
    }
  }

  .nav-menu {
    display: none;
    z-index: 99;
    @media (max-width: 769px) {
      display: block;
              transform: translate(calc(-100% + 0rem), 0);
      width: 100%;

      -webkit-transform: translate(calc(-100% + 0rem), 0);
         -moz-transform: translate(calc(-100% + 0rem), 0);
          -ms-transform: translate(calc(-100% + 0rem), 0);
           -o-transform: translate(calc(-100% + 0rem), 0);
    }
  }

  .nav-menu.open-nav {
    transform: translate(0, 0);
  }

  .nav-top {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100vw;
    height: 0;
    background: #ffffff;
    transition: all 1s;
  }
  .nav-top.open-nav {
    height: 2rem;
  }
  .nav-right {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    width: 0;
    height: 100vh;
    background: #ffffff;
    transition: all 1s;
  }
  .nav-right.open-nav {
    width: 2rem;
  }

  .nav-bottom {
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100vw;
    height: 0;
    background: #ffffff;
    transition: all 1s;
  }
  .nav-bottom.open-nav {
    height: 2rem;
  }

  .scrolldown1 {
    left: 50%;
    z-index: 10;
  }

  .scrolldown1 span {
    color: #000000;
  }

  .scrolldown1:before {
    background: black;
  }
  .scrolldown1::after {
    background: black;
  }

  /* ----カバー---- */

  .portfoio1-cover-section {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  .cover-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .cover-logo h1 {
    font-weight: bold;
    font-size: 3.5rem;
    font-family: "Secular One", sans-serif;
    letter-spacing: .1em;
    @media (max-width: 480px) {
      font-size: 2rem;
    }
  }

  /* ----メイン---- */

  .photos-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    width: 80vw;
    margin: auto;
    margin-top: 10rem;
    @media (max-width: 480px) {
      width: 85vw;
    }
  }

  // BASIC
  .photos-container {
    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
      text-decoration: none;
    }

    li {
      flex-grow: 1;
      height: 35vh;
      margin: .5rem;
      overflow: hidden;
    }

    li:last-child {
      // There's no science in using "10" here. In all my testing, this delivered the best results.
      flex-grow: 10;
    }

    img {
      min-width: 100%;
      max-height: 100%;
      vertical-align: bottom;

      object-fit: cover;
    }

    .hover-mask {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .4);
      transition: all .6s ease-out;
      &:hover {
        opacity: 1;
      }
    }

    // ADVANCED

    // Portrait

    @media (max-aspect-ratio: 1/1) {
      li {
        height: 15vh;
      }
    }

    // Short screens

    @media (max-height: 480px) {
      li {
        height: 80vh;
      }
    }

    // Smaller screens in portrait

    @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
      ul {
        flex-direction: row;
      }

      li {
        width: auto;
        height: 10vh;
      }
      img {
        width: auto;
        min-width: 100%;
        min-height: unset;
      }
    }
  }
  /* ---- フッター ---- */
  .copyright-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 12vh;
    margin-top: 5rem;
    background-color: #ffffff;
  }
  .copyright-menu p {
    display: block;
  }

  /* ---- ポップアップ ---- */
  .lum-lightbox.lum-open {
    z-index: 9999;
    background: rgba(0, 0, 0, .7);
  }

  .lum-lightbox-inner img.lum-img {
    max-width: 70%;
    max-height: 90%;
    @media (max-width: 480px) {
      max-width: 90%;
      max-height: 100%;
    }
  }

  .lum-previous-button {
    left: 5%;
    @media (max-width: 480px) {
      top: 90%;
      left: 30%;
    }
  }
  .lum-next-button {
    right: 5%;
    @media (max-width: 480px) {
      top: 90%;
      right: 30%;
    }
  }
  .lum-close-button {
    opacity: 1;
    top: 5%;
    right: 10%;
    cursor: pointer;
    @media (max-width: 480px) {
      top: 15%;
    }
  }

  .lum-previous-button:after {
    @media (max-width: 480px) {
      left: 12%;
      transform: translateY(-50%) rotate(-45deg);
      border-left: 3px solid hsla(0, 0%, 100%, .8);
      border-radius: 3px 0 0 0;
      box-shadow: -2px 0 rgb(0 0 0 / 20%);
    }
  }

  .lum-gallery-button:after {
    @media (max-width: 480px) {
      display: block;
      position: absolute;
      top: 50%;
      width: 25px;
      height: 25px;
      border-top: 3px solid hsla(0, 0%, 100%, .8);
      content: "";
    }
  }

  .lum-next-button:after {
    @media (max-width: 480px) {
      right: 12%;
      transform: translateY(-50%) rotate(45deg);
      border-right: 3px solid hsla(0, 0%, 100%, .8);
      border-radius: 0 3px 0 0;
      box-shadow: 2px 0 rgb(0 0 0 / 20%);
    }
  }

  .lum-gallery-button:after {
    @media (max-width: 480px) {
      display: block;
      position: absolute;
      top: 50%;
      width: 25px;
      height: 25px;
      border-top: 3px solid hsla(0, 0%, 100%, .8);
      content: "";
    }
  }

  .scrolldown2 {
    @media (max-width: 768px) {
      left: 2%;
    }
  }

  .scrolldown2 span {
    @media (max-width: 480px) {
      left: 3px;
    }
  }

  .UpMove .scrolltop {
    visibility: visible;
    opacity: 1;
    @media (max-width: 480px) {
      visibility: hidden;
      opacity: 0;
    }
  }

  .sp-scrolltop {
    visibility: hidden;
    opacity: 0;
    right: 5%;
    cursor: pointer;
    transition: .5s ease;
  }

  .UpMove .sp-scrolltop {
    @media (max-width: 768px) {
      visibility: visible;
      opacity: 1;
    }
  }

  .sp-scrolltop:before {
    position: absolute;
    right: 24px;
    bottom: 23px;
    z-index: 10;
    transform: skewX(141deg);
    width: 1px;
    height: 10px;
    background: #222222;
    content: "";
  }

  .sp-scrolltop span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #222222;
    font-size: .7rem;
    letter-spacing: .05em;

    -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
  }

  .sp-scrolltop:after {
    position: absolute;
    right: 20px;
    bottom: 5px;
    width: 1px;
    height: 25px;
    background: #222222;
    content: "";
  }

  #page-top.UpMove {
    animation: UpAnime .5s forwards;
  }
  @keyframes UpAnime {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /*　下に下がる動き　*/

  #page-top.DownMove {
    animation: DownAnime .5s forwards;
  }
  @keyframes DownAnime {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 1;
      transform: translateY(100px);
    }
  }
}

#loadimg {
  clear: both;
  padding-top: 50px;
  text-align: center;
}